<h1>Rent my bar</h1>

<div class="container">
<div class="list-index-card-wrapper">

    <% @bars.each do |bar|%>
      <%= link_to bar_path(bar) do %>
        <div class="bar-index-card">

          <% if bar.photos.attached? %>
            <% bar.photos.each_with_index do |photo, index| %>
              <div <%= index == 0 ? "active" : "" %> >
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: 'image-bar-cover d-block', alt: "image cover for bar" %>
              </div>
            <% end %>
          <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1525268323446-0505b6fe7778?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80", class: "d-block w-100" %>
          <% end %>
        </div>
        <div class="bar-card-content">
          <div>
            <h3><%=bar.name%></h3>
            <p><%=bar.address%></p>
          </div>
          <div>
           <p><span class="bold">£<%=bar.price%></span>/day</p>
          </div>
        </div>
      <% end %>
    <%end%>
  </div>

  <div id='map' style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
