<h1>Rent my bar</h1>

<div class="container">
  <div class="list-index-card-wrapper">

    <% @bars.each do |bar|%>
      <%= link_to bar_path(bar) do %>
        <div class="bar-index-card">
          <%= cl_image_tag bar.photos, height: 300, width: 400, crop: :fill, class: 'image-bar-cover', alt: "image cover for bar" %>
          <div class="bar-card-content">
            <div>
              <h3><%=bar.name%></h3>
              <p><%=bar.address%></p>
            </div>

            <div>
              <h3>£<%=bar.price%></h3>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
  </div>

</div>
