<div class="container">
  <h1>Welcome to <%=@bar.name%></h1>

  <%= image_tag 'bar2', class: 'image-list-cover',  alt: "Bar 1 layout" %>
  <p><%=@bar.address%></p>

  <h3 class="notice"><%= notice %></h3>

  <%=link_to "Home", root_path %> |
  <%=link_to "Back to List", bars_path(@bar) %> |
  <%=link_to "Book Venue", new_bar_booking_path(@bar) %>



</div>
